h1,h2,h3,h4,h5,p{
  color:black
}
* > ** {
  box-sizing: border-box;
}
:root {
  --main-color: #16c8dc;
  --heading-size: 36px;
  --generic-box-shadow: 0px 10px 45px rgb(0 0 0 / 5%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:active {
  color: var(--main-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fcfdff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ant-upload-wrapper {
  width: unset !important;
}
.ant-upload {
  width: 50px !important;
  height: 50px !important;
}

textarea {
  resize: none !important;
}
